.c-button-toolbar {
	align-items: center;
	display: flex;

	&.c-button-toolbar-horizontal {
		flex-direction: row;

		> * + * {
			margin-left: 0.8rem;
		}

		> .c-button__link + .c-button__link {
			margin-left: 1.6rem;
		}
	}

	&.c-button-toolbar-vertical {
		flex-direction: column;

		> * + * {
			margin-top: 0.8rem;
		}

		> .c-button__link + .c-button__link {
			margin-top: 1.6rem;
		}
	}
}

.c-table .c-button-toolbar {
	justify-content: flex-end;
}
