@use 'sass:math';

$c-table-background-color: #FFF !default;
$c-table-border-color: #D6DEE3 !default;
$c-table-row-odd-color: #EDEFF2 !default;
$c-table-row-selected-color: #FFF !default;
$c-table-row-selected-bg: #eee !default;

.c-table {
	width: 100%;

	th,
	td {
		text-align: left;
		padding: 0.8rem;
		position: relative;
	}

	th {
		font-weight: 500;
		background-color: #ddd;

		> div {
			display: flex;
		}
	}

	tr {
		.c-table__checkbox-column {
			width: 4rem;
		}

		&.u-clickable:hover {
			background-color: #EDEFF2;
		}
	}

	tbody tr:nth-child(even) {
		background-color: $c-table-row-odd-color;
	}

	&:not(.c-table__styled) {
		th,
		td {
			&:first-child {
				padding-left: 1rem;
			}
			&:last-child {
				padding-right: 1rem;
			}
		}
	}
}

th.c-table__header__sortable {
	cursor: pointer;

	a {
		display: block;
		padding: 1.6rem;
	}

	.icon {
		width: 15px;
	}
}

.c-table__row__selected {
	td {
		background-color: #D6DEE3;
		border-color: #7894A7;
	}
}

.c-table__no-margin {
	margin: 0;
}

.c-table__horizontal {
	th {
		width: 18rem;
	}
}
